[Unit]
Description=ssslocal service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sslocal
Restart=always
RestartSec=4s
User=nobody

[Install]
WantedBy=default.target